<div class="container">
    <h3>View Customer</h3>  
    <a href="#" routerLink="/customer/index" class="btn btn-primary">Back</a>  
    <div>
        <table class="table table-striped">
            <tr>   <td> Customer Name </td>:  <td> {{ post.CustomerName }} </td>  </tr>
                <tr>  <td> Asset Name </td>:  <td> {{ post.AssetName }} </td></tr>
                    <tr>  <td> Country Name </td>:  <td> {{ post.CountryName }} </td></tr>
                        <tr>  <td> Region Name </td>:  <td> {{ post.RegionName }} </td></tr>
                            <tr>  <td> City Name</td>:  <td> {{ post.CityName }} </td></tr>
                                <tr>  <td> Location Name </td>:  <td> {{ post.LocationName }} </td>   </tr>   
        </table>      
</div>
</div>